<script lang="ts">
	import ImageUpload from './ImageUpload.svelte';
</script>

<main>
	<h1>NearVatar!</h1>
	<p>Upload your avatar</p>
	<ImageUpload class="ImageUpload" />
</main>

<style>
	main {
		align-items: center;
		display: flex;
		flex-flow: column;
		text-align: center;
		padding: 1em;
		max-width: 240px;
		margin: 0 auto;
	}

	:global(.ImageUpload) {
		margin-top: 50px;
	}

	h1 {
		color: #333333;

		font-size: 4em;
		font-weight: 100;
	}

	@media (min-width: 640px) {
		main {
			max-width: none;
		}
	}
</style>
