<script>
  // import {imageToRgba} from "./imageToRGBA";

  let fileinput
  let canvas

  const onFileSelected = (event) => {

    let image = event.target.files[0]

    let reader = new FileReader()
    reader.readAsDataURL(image)
    reader.onload = e => {
      const canvas = document.createElement('canvas')
      let img = new Image()
      img.src = e.target.result
      img.onload= () => {
        canvas.width = img.width
        canvas.height = img.height
        const ctx = canvas.getContext('2d')
        ctx.drawImage(img, 0, 0)
        const imgData = ctx.getImageData(0, 0, canvas.width, canvas.height).data
        console.log(imgData.byteLength)
      }
    }
  }

  function dropzone(node) {
    // the node has been mounted in the DOM
    console.log(node)
    ;['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
      node.addEventListener(eventName, (e) => {
        console.log(e)
        e.preventDefault()
        e.stopPropagation()
      }, false)
    })
    return {
      destroy() {
        // the node has been removed from the DOM
      }
    };
  }
</script>
<div class={`ImageUpload ${$$props.class}`} on:click={() => {fileinput.click()}} use:dropzone>
  <input class="ImageUpload--file-input" type="file" accept=".jpg, .jpeg, .png" bind:this={fileinput} on:change={(e)=>onFileSelected(e)}>
  <svg class="ImageUpload--icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none">
    <path d="M4 15V18H20V15" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M12 6L12 14" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M12 6L15 8.5" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M12 6L9 8.5" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
</div>
<canvas id="canvas"></canvas>
<style lang="sass">
.ImageUpload
  align-items: center
  background: #fd0b57
  box-shadow: 2px 2px 30px 1px rgba(253, 10, 87, .6)
  border-radius: 8px
  cursor: pointer
  display: flex
  height: 150px
  justify-content: center
  position: relative
  width: 150px
  &:after
    border-radius: 8px
    box-shadow: 1px 1px 35px 2px rgba(253, 10, 87, .3)
    content: ''
    height: 100%
    left: 0
    opacity: 0
    position: absolute
    top: 0
    transition: opacity 250ms
    width: 100%
    z-index: -1
  &:hover:after
      opacity: 1
  .ImageUpload--file-input
    display: none
</style>
